.hcenter {
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.vhcenter {
  align-self: center;
  justify-content: center;
}

.vcenter {
  align-items: center;
  justify-content: center;
}
